@font-face {
  font-family: 'RougeScript';
  src: url('../fonts/RougeScript-Regular.ttf') Format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'MUNDONICK';
  src: url('../fonts/MUNDONICK.ttf') Format('truetype');
}

@font-face {
  font-family: 'OleoScriptSwashCaps-Bold';
  src: url('../fonts/OleoScriptSwashCaps-Bold.ttf') Format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OleoScriptSwashCaps-Regular';
  src: url('../fonts/OleoScriptSwashCaps-Regular.ttf') Format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PetitFormalScript-Regular';
  src: url('../fonts/PetitFormalScript-Regular.ttf') Format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Oleo';
  src: url('../fonts/Oleo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
